.main{
    width: 800px;
    height: 960px;
    background: gray;
    padding: 10px;
}
.solo{
    width: 760px;
    height: 300px;
    background: cornflowerblue;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.point{
    display: flex;
}
.polo{
    width: 240px;
    height: 240px;
    background: #deab89;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}