.point{
    width: 900px;
    height: 1000px;
    background: #2f2f1e;
    padding: 10px;

}
.polo{
    width: 895px;
    height: 200px;
    background: #5a755a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.fire{
    width: 895px;
    height: 100px;
    background: #77dc77;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.ball{
    display: flex;
}
.target{
    width: 600px;
    height: 600px;
    background: #a68369;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.loft{
    width: 295px;
    height: 600px;
    background: #8a5e40;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}