@media screen and (max-width: 576px) {
    .wrapper{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
    .soc-icon {
        background: #5a755a;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__top_grid {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__main {
        background: #5a755a;
    }
    .products__list{
        display: block;
        row-gap: 30px;
    }
    .products__item{
        margin: 10px;
    }
    .about{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #5a755a;
    }
    .about_grid{
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .about_card{
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 250px;
    }
    .about_name{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about_description{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .blocks{
        display: block;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .big_blocks{
        width: 400px;
        margin: 50px 85px 50px 85px;
        row-gap: 30px;
    }
    .details_title{
        font-size: 40px;
    }
    .lower_block{
        display: block;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .second_lower_block{
        background: #5a755a;
    }
}


